# SMTP (Gmail)
SENDER_EMAIL=eduplus@meidaisky.jp
SENDER_PASSWORD=xxxxxxxxxxxxxxxx
SENDER_NAME=磯一郎の100万人の速読 事務局

# anyschool.jp
ANYSCHOOL_ID=arima
ANYSCHOOL_PW=b87w

# 100mil-sokudoku manager
SOKUDOKU_ADMIN_ID=999003
SOKUDOKU_ADMIN_PW=Gccmeidaisky003

# Google Sheets API (STATUS書き戻し用)
GOOGLE_CREDENTIALS_PATH=credentials.json
